<!--use:_views/m.main-->

<!--define:title-->
Mailing
<!--/define:title-->

<!--define:css-->
<link rel="stylesheet" href="css/mailing.css" media="all"/> 
<!--/define:css-->

<!--define:main-->
	<div data-ng-controller="mailingCtrl as ctrl">
		<div class="page-header">
			<h1>Sistema de Mailing</h1>
		</div>
		<div class="row">
			<div class="col-md-4" style="padding: 10px;">
				<div class="form-group">
					<label>Asunto del mail</label>
					<input type="text" class="form-control input-sm" data-ng-model="ctrl.mailing.subject"/>
				</div>
				<div class="form-group">
					<label>Destinatarios</label>
					<div class="input-group">
						<input type="text" class="form-control" data-ng-model="ctrl.mailing.to" id="to" placeholder="Emails separados por coma.">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cargar <span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a data-ng-click="ctrl.mailing.load('*')">todos</a></li>
								<li role="separator" class="divider"></li>
								<li><a data-ng-repeat="rol in ctrl.user.roles" data-ng-click="ctrl.mailing.load(rol)">{{rol}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Seleccione plantilla para enviar mails</label>
					<select class="form-control" data-ng-model="ctrl.template.doc" data-ng-change="ctrl.template.select()">
						<option></option>
						<option data-ng-repeat="row in ctrl.template.coll">{{row.name}}</option>
					</select>
				</div>
				<table class="table" data-ng-show="ctrl.template.doc!=null && ctrl.template.doc!=''">
					<thead>
						<tr>
							<th>Metadata</th>
							<th>Tipo</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="row in ctrl.template.metadata">
							<td>{{row.label}}</td>
							<td>
								<select data-ng-model="row.type" class="form-control input-sm">
									<option value="static">Definir valor</option>
									<option value="document">Usar valor del usuario</option>
								</select>
							</td>
							<td>
								<input type="text" class="form-control input-sm" data-ng-model="row.value" data-ng-show="row.type=='static'"/>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
					<button class="btn btn-primary btn-xs" data-ng-click="ctrl.mailing.plane()">
						<i class="fa fa-send"></i> enviar texto plano
					</button>
					<button class="btn btn-primary btn-xs" data-ng-click="ctrl.mailing.process()">
						<i class="fa fa-send"></i> enviar correos
					</button>
				</div>
			</div>
			<div class="col-md-8" style="padding: 10px;">
				<iframe id="iframe_view"></iframe>
			</div>
		</div>
	</div>
<!--/define:main-->

<!--define:script-->
	<script type="text/javascript" src="js/mailing.js"></script>
<!--/define:script-->